# Sorting

## Sorting List

In [4]:
l1 = [0,4,8,1,6,654,678,123,45,8,26,98]

### sorted list without modifying original

In [5]:
l1_sort = sorted(l1)

l1_sort, l1

([0, 1, 4, 6, 8, 8, 26, 45, 98, 123, 654, 678],
 [0, 4, 8, 1, 6, 654, 678, 123, 45, 8, 26, 98])

### directly modifying original

**sort() is only for lists**   
sorted can be used for any ds

sort() directly sorts original and returns None and hence it cannot be stored in a variable

In [6]:
l1.sort()

l1

[0, 1, 4, 6, 8, 8, 26, 45, 98, 123, 654, 678]

### reversing - reverse=True

In [ ]:
l1 = [0,4,8,1,6,654,678,123,45,8,26,98]

In [7]:
s_l1 = sorted(l1, reverse=True)

l1, s_l1

([0, 1, 4, 6, 8, 8, 26, 45, 98, 123, 654, 678],
 [678, 654, 123, 98, 45, 26, 8, 8, 6, 4, 1, 0])

In [8]:
l1.sort(reverse=True)

## Sorting Tuples

In [9]:
tup = (0,4,8,1,6,654,678,123,45,8,26,98)

tup

(0, 4, 8, 1, 6, 654, 678, 123, 45, 8, 26, 98)

In [10]:
s_tup = sorted(tup)

print(s_tup)

[0, 1, 4, 6, 8, 8, 26, 45, 98, 123, 654, 678]

In [11]:
s_tup = sorted(tup, reverse=True)

print(s_tup)

[678, 654, 123, 98, 45, 26, 8, 8, 6, 4, 1, 0]

## Sorting Dictionaires

**dictionaries are sorted based on key values**

In [13]:
di = {'a': 1, 'c': '3', 'b':2}

di

{'a': 1, 'c': '3', 'b': 2}

In [14]:
di_s = sorted(di)

di_s

['a', 'b', 'c']

## Sorting based on Absolute Values

In [17]:
l1 = [-6, -4, 0, 2 , -5, 1, 5]

l1

[-6, -4, 0, 2, -5, 1, 5]

In [18]:
sorted(l1)

[-6, -5, -4, 0, 1, 2, 5]

In [19]:
sorted(l1, key=abs)

[0, 1, 2, -4, -5, 5, -6]

## Sorting based on a Key

In [25]:
employes = [('Yash', 22, 1200), ('Raj', 20, 1900), ('Suyog', 21, 2100)]

In [26]:
employes_s = sorted(employes)

employes_s

[('Raj', 20, 1900), ('Suyog', 21, 2100), ('Yash', 22, 1200)]

what if I want to sort based on 3rd parameter?

**method 1 - create custom function**

In [27]:
def e_sort(emp):
    return emp[2]

In [28]:
employes_s = sorted(employes, key=e_sort)

employes_s

[('Yash', 22, 1200), ('Raj', 20, 1900), ('Suyog', 21, 2100)]

In [29]:
employes_s = sorted(employes, key=e_sort, reverse=True)

employes_s

[('Suyog', 21, 2100), ('Raj', 20, 1900), ('Yash', 22, 1200)]

**method 2 - lambda function**

In [32]:
employes_s = sorted(employes, key = lambda e: e[1])

employes_s

[('Raj', 20, 1900), ('Suyog', 21, 2100), ('Yash', 22, 1200)]