# String Formatting

## .format() - strings

In [9]:
person = {'name': 'Yash', 'age': 22}

In [3]:
sentence = 'My name is {0} and I am {1} years old'.format(person['name'], person['age'])

sentence

'My name is Yash and I am 22 years old'

it is more useful when values are repeated

In [5]:
tag = 'h1'
text = 'headline of html'

In [7]:
sentence = '<{0}>{1}</{0}>'.format(tag, text)

sentence

'<h1>headline of html</h1>'

can also directly acess these inside {}

In [11]:
sentence = 'My name is {0[name]} and I am {0[age]} years old'.format(person)

sentence

'My name is Yash and I am 22 years old'

In [12]:
list_ = ['Yash', 23]

sentence = 'My name is {0[0]} and I am {0[1]} years old'.format(list_)

sentence

'My name is Yash and I am 23 years old'

directly passing values

In [14]:
sentence = 'My name is {name} and I am {age} years old'.format(name='Yash', age='22')

sentence

'My name is Yash and I am 22 years old'

directly unpack values from dictionary

In [15]:
person = {'name': 'Yash', 'age': 22}

sentence = 'My name is {name} and I am {age} years old'.format(**person)

sentence

'My name is Yash and I am 22 years old'

## .format() - numbers

add padding to numbers

In [19]:
for i in range(1, 11):
    print('value is {:03}'.format(i))

value is 001
value is 002
value is 003
value is 004
value is 005
value is 006
value is 007
value is 008
value is 009
value is 010

adjust decimal point

In [20]:
p1 = 3.141592

In [22]:
sentence = 'pi is = {:.2f}'.format(p1)

sentence

'pi is = 3.14'

comma seperation

In [25]:
sentence = 'large value is = {:,}'.format(10000**2)

sentence

'large value is = 100,000,000'

comma seperation plus decimal point

In [26]:
sentence = 'large value is = {:,.2f}'.format(10000**2)

sentence

'large value is = 100,000,000.00'

## .format() - datetime

In [27]:
import datetime

In [30]:
date_ = datetime.datetime(2022, 9, 24, 12, 30, 45)

In [31]:
sentence = '{:%B %d, %Y}'.format(date_)

sentence

'September 24, 2022'